.threeGoogleSvg {
	width: 100vw;
	height: 25.1vw;
}

.googleAds {
	width: 30vw;
	float: right;
	text-align: left;
	transform: translateY(8.5vw);
	/*background-color: aqua;*/
}

.googleMarketing {
	width: 40vw;
	float: right;
	text-align: center;
	/*background-color: bisque;*/

}

.googleMan {
	width: 30vw;
	float: right;
	text-align: right;
	transform: translateY(7.1vw);
	/*background-color: yellowgreen;*/
}

.lineEnding {
	visibility: hidden;
	animation: condemned_blink_effect .8s linear infinite;
}

@keyframes condemned_blink_effect {
	0% {
		visibility: hidden;
	}

	50% {
		visibility: hidden;
	}

	100% {
		visibility: visible;
	}
}