.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Stay on top */
    top: -10px;
    left: 0;
    background-color: #fefefe;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    font-size: 1000%;
    color: white;
    display: block;
    transition: 0.3;
    padding-left: 15%;
}

.sideMenu {
    margin: 0 0 0 0;
}

.menuParent {
    /*background: orange; */
    height: 33%;
    width: 51%;
    float: left;
    -webkit-text-stroke: 2px rgba(0,0,0,.25);
    font-family: 'Rubik', sans-serif;
}

.menuChild {
    /*background: pink; */
    height: 33%;
    width: 48%;
    float: right;
    margin-top: 0%;
    color: #fefefe;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: black;
}
.sidenav svg:hover{
    fill:black;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 35px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media only screen and (max-width: 600px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 650%;
        text-align: center;
        padding: 0px 0px 0px 0px;
    }

    .menuSvg {
        width: 0;
    }

    .menuParent {
        width: 100%;
        height: 15%;
        padding: 0px;
    }

    .menuChild {
        width: 100%;
        height: 15%;
        text-align: center;
    }
}

.hiddenHover{
    display: none;
}

.menuParent:hover + .hiddenHover{
    display: block;
}

