html {
    background-color: #dedede;

}
.scroll::-webkit-scrollbar{
    display: none;
}

.scroll{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.justifyText{
    text-align: justify;
    font-size: 1000%;

    
}

.mainText{
    background-color: #dedede;
}

.sidenav {
    height: 0%;
    width: 100%;
    top: 0;
}
.sidenav a:hover, .sidenav a:focus {
    color: black;
}

.sideMenuRight{
    height: 100%;
    width: 25%;
    float: right;
    /*-webkit-text-stroke: 2px rgba(0,0,0,.25);*/
    font-family: 'Rubik', sans-serif;
    background-color: aqua;
}
.sideMenuCenter{
    height: 100%;
    width: 25%;
    float: left;
    /*-webkit-text-stroke: 2px rgba(0,0,0,.25);*/
    font-family: 'Rubik', sans-serif;
    background-color: purple;
}
.sideMenuLeft{
    height: 100%;
    width: 50%;
    float: left;
    -webkit-text-stroke: 2px rgba(0,0,0,.25);
    font-family: 'Rubik', sans-serif;
    background-color: green;
}

.hoverBlock{
    display: inline-block;
}

.menuli {
    margin-top: 0%;
    float: left;
    font-weight: 700;
    width: 33%;

}

.menuli a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    transition:0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    transform: translateY(0%);
}

.menuli a:hover {
    /*background-color: aliceblue;*/
    /*old highlight color #144f5e */
    color: #1f86a1;
    transition:0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    transform: translateY(-41.5%);
    
}

.topText a:hover{
    /*transition:0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;*/
    color: #ffffff;
}

.pointer{
    cursor:pointer;
}

.menuNav {
    font-family: aktiv-grotesk, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    /*background: rgba(255,255,255,0.1);*/
}

.fuckoff {
    background-color: transparent;
}

.fuckoff :hover {
    background-color: transparent;
}

/*animation stuff*/

.anime{
    display: inline-block;
    position: fixed; /* make sure it stays put so we can see it! */
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
    /*mix-blend-mode: difference;*/
}
@keyframes rotate {
    to {
      transform:translateY(-70%);
      transition-timing-function: ease;
    }   
}