html,
body {
    background-color: #e2e2e2;
    overflow-x: hidden;
}

.image {
    background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2022-02/220209-barack-obama-jm-0958-a70f3b.jpg');
}

.centerImage {
    display: flex;
    justify-content: center;
}

/* grayscale
img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 *
    filter: grayscale(100%);
  }*/
.scroll::-webkit-scrollbar {
    display: none;
}

.scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Text */

.justifyText {
    text-align: justify;
    font-size: 8.5vw;
}

.mainText p {
    font-size: 3vw;
    margin-left:10%;
    margin-right: 10%;
    font-family: aktiv-grotesk, sans-serif;
    text-align: center;
}

.titleText {
    text-align: left;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-size: 3vw;
    color: #1f86a1;
}

/* Top Bar */

.topBar{
    padding-bottom: 1vw;
}

.menuNav {
    font-family: aktiv-grotesk, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    /*background: rgba(255,255,255,0.1);*/
    height: 4vw;
    font-size: 1vw; 
    background-color: #f2f2f2;
}

.menuli {
    margin-top: 0%;
    float: left;
    font-weight: 700;
    width: 33%;

}

.menuli a {
    display: block;
    color: black;
    text-decoration: none;
    transition: 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    transform: translateY(0%);
}

/* Contact and Menu */

.sides a {
    padding-left: 6.5vw;
    padding-right: 6.5vw;
    padding-top: 1.5vw;
}

.sides a:hover{
    color: #1f86a1;
    transition: 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    transform: translateY(-4.5vw);
}

.sides p {
    padding-top:2.2vw;
}

/* "Logo" */

.center a {
    text-align: left;
    font-size: 3vw; 
    padding-left:12vw; 
    padding-top:0.3vw;
}

.center a:hover {
    color: #1f86a1;
    transition: 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    transform: translateY(-6.5vw);

}

.topText a:hover {
    /*transition:0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;*/
    color: #ffffff;
}

/* Form */

.form li{
    list-style-type: none;
}

.form {
    margin-top: 3vw;
    width: 46vw; 
    height: 15vw;
    float: right;
    display: flex;
    justify-content: left;
}

.form input{
    margin-bottom: 1vw;
}

.form p{
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-size: 1vw;
    border: solid #1f86a1;
    border-radius: 1vw;
    width: fit-content;
    color: #1f86a1;
    display:flex;
    position: relative;
    justify-content:center;
    padding: 0vw 1vw 0vw 1vw;
    transition: all 0.5s;
}

.form .textBox {
    font-family: aktiv-grotesk, sans-serif;
    height:1vw;
    width: 10vw;
    font-size: 0.8vw;
}

.form textarea{
    resize:none;
}

.form .textBox:focus + p{
    color: #fff;
    transition: all 0.5s;
    background-color: #1f86a1;
}

.form p{
    transform: translate(-2vw, -6vw);
}

.submitButton{
    display: inline-flex;
    height: 3vw;
    width: 10vw;
    border: 0.1vw solid #1f86a1;
    border-radius: 1vw;
    margin: 1vw 1vw 1vw 1vw;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    color: #1f86a1;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.7vw;
    letter-spacing: 0.05vw;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: translateY(-3vw);
}

.success{
    border: 0.1vw solid #1fa186;
    color: #1fa186;
    background-color: #a2e2a2;
}

.failure{
    border: 0.1vw solid #a11f1f;
    color: #a11f1f;
    background-color: #e2a2a2;
}

.textBox{
    border: 0.1vw solid #1f86a1;
}

.textBox:focus{
    color: #1f86a1;
    background-color: #efefef;
}

/* Contact Stuff */

.info{
    width:25vw; 
    height:40vw; 
    float: right; 
    justify-content:space-around; 
    display:flex; 
    flex-direction: column;
}
.info p{
    font-size: 1vw;
    text-align: left;
}

/* Cursor and Fuckoff*/

.pointer {
    cursor: pointer;
}

.fuckoff {
    background-color: transparent;
}

.fuckoff :hover {
    background-color: transparent;
}

/* Error Page */

.errorText {
    width: 100vw;
    margin: auto;
    padding-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.errorText div{
    padding-bottom: 1vw;
    margin: auto;
    text-align: center;
    justify-content: center;
}

/* Services Page */

.servicesText{
    padding-top: 5vw;
    margin:auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.servicesDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20vw;
    text-align: center;
    border-radius: 2vw;
    background-color: #fff;
    border-style: solid;
}

.servicesTop{
    height: 10vw;
    border-radius: 1vw 1vw 0vw 0vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 4vw;
    font-family: aktiv-grotesk, sans-serif;
    color: #fff;
    border-style: solid;
    border-width: 0vw 0vw 0.1vw 0vw;
    border-color: #ccc;
    
}

.servicesMid{
    font-weight: 400;
    font-size: 3vw;
    padding-top: 1vw;
}

.servicesBot{
    padding-top: 1vw;
    font-size: 1.5vw;
    align-self: center;
    width: 16vw;
    text-align: left;
}

.gold{
    border-color: rgb(211, 190, 6) #ccc;
    height: 40vw;
    border-width: 1vw 0.1vw;
}

.gold .servicesTop{
    color: rgb(211, 190, 6);

}

.gold .planButton{
    transition: 0.5s;
    color: rgb(211, 190, 6);
    border-color: rgb(211, 190, 6);
}

.gold .planButton:hover{
    transition: 0.5s;
    background-color: rgb(211, 190, 6);
    color: #fff;
}

.silver{
    border-color: #aaa #ccc;
    height: 37vw;
    border-width: 1vw 0.1vw;
}

.silver .servicesTop{
    color: #bbb;
}

.silver .planButton{
    transition: 0.5s;
    color: #bbb;
    border-color: #bbb;
}

.silver .planButton:hover{
    transition: 0.5s;
    background-color: #bbb;
    color: #fff;
}

.bronze{
    border-color:rgb(143, 76, 0) #ccc;
    height: 34vw;
    border-width: 1vw 0.1vw;
}

.bronze .servicesTop{
    color: rgb(172, 94, 6);
}

.bronze .planButton{
    transition: 0.5s;
    color: rgb(172, 94, 6);
    border-color: rgb(172, 94, 6);
}

.bronze .planButton:hover{
    transition: 0.5s;
    background-color: rgb(172, 94, 6);
    color: #fff;
}

.planButton{
    display: inline-flex;
    height: 4vw;
    width: 16vw;
    border: 0.1vw solid;
    margin: auto;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1vw;
    letter-spacing: 0.05vw;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #fff;
}


/*animation stuff*/

.anime {
    display: inline-block;
    position: relative;
    /* make sure it stays put so we can see it! */
    animation: moveDown 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
    background-blend-mode: difference;
}

@keyframes moveDown {
    to {
        transform: translateY(100%);
        transition-timing-function: ease;
    }
}

.animeBottom {
    position: relative;
    /* make sure it stays put so we can see it! */
    animation: cool 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
    background-blend-mode: difference;
}

@keyframes cool {
    to {
        transform: translateY(0%);
        transition-timing-function: ease;
    }
}

/* Glow on hover */

.glow-on-hover {
    width: 4vw;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    display:flex;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    justify-content:center;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
