html {
    background-color: #212121;
}

.menuli {
    margin-top: 0%;
    float: left;
    font-weight: 700;
    width: 33%;

}

.menuli a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    transition:0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    transform: translateY(0%);
}

.menuli a:hover {
    /*background-color: aliceblue;*/
    /*old highlight color #144f5e */
    color: #1f86a1;
    transition:0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    transform: translateY(-41.5%);
    
}

.topText a:hover{
    /*transition:0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;*/
    color: #ffffff;
}

.pointer{
    cursor:pointer;
}

.menuNav {
    font-family: aktiv-grotesk, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    /*background: rgba(255,255,255,0.1);*/
}

.fuckoff {
    background-color: transparent;
}

.fuckoff :hover {
    background-color: transparent;
}

