* {
    font-family: 'Archivo', sans-serif;
}

#onStart {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    /*background: rgba(255,255,255,0.1);*/
    font-size: 1vw;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}



#graphSect,
#qualitySect {
    width: 100vw;
    height: 55vh;
    margin-bottom: 3vw;
}

#graphText,
#qualityText {
    width: 50%;
    float: left;
    height: 100%;
}

#graphAni,
#qualityAni {
    width: 50%;
    float: right;
    height: 100%;
}

#graphAni {
    overflow: hidden;
}

.image1 {
    width: 35%;
    margin-left: 32.5%;
    margin-top: 10%;
}

.phoneText {
    color: black;
    font-size: 1.5vw;
    text-align: justify;
    white-space: normal;
    padding: 2vw;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
}

.image2 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 20%;
    border-radius: 25px;
    transform: rotateY(.25turn);
    /* box-shadow: .5vw .5vw .25vw #333; */
}

.image3 {
    position: absolute;
    top: 65%;
    left: 50%;
    width: 40%;
    border-radius: 15px;
    transform: translateZ(100px);
    /* box-shadow: .5vw .5vw .25vw #333; */
}

/* homepage certs cards */
.AdWordsCard {
    width: 60%;
    height: 100%;
    border-radius: 25px;
    margin: 0 auto;
    background: linear-gradient(to right,
            white 0%,
            white 50%,
            #333 50%,
            #333 100%);
}

.quiltyScoreCard {
    width: 60%;
    height: 100%;
    border-radius: 25px;
    margin: 0 auto;
    background: linear-gradient(to right,
            #333 0%,
            #333 50%,
            white 50%,
            white 100%);
}

.shoppingCard {
    width: 60%;
    height: 100%;
    border-radius: 25px;
    margin: 0 auto;
    background: linear-gradient(to right,
            white 0%,
            white 50%,
            #333 50%,
            #333 100%);
}

.phoneText span {
    font-size: 1vw;
}

.serviceButton {
    height: 50px;
    padding: 16px 32px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: .688rem;
    line-height: 18px;
    letter-spacing: 1.54px;
    text-transform: uppercase;
    border-radius: 25px;
    float: right;
    margin-top: 1vw;
}

.loadText {
    margin: auto;
}

.loadHero {
    font-family: 'Archivo', sans-serif;
    font-size: 6vw;
}

.loadside {
    font-family: 'Archivo', sans-serif;
    font-size: 3vw;
}

.typewriter span {
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(23, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: black;
    }
}

.mainText {
    color: white;
    height: 102vh;
    width: 100vw;
    font-size: 7vw;
    transform: translateY(-2vw);
    font-family: 'Archivo', sans-serif;
    background-color: rgba(0, 0, 0, 0.25);
    /* text-align: justify; */
    letter-spacing: .5vw;
    margin: 0;
    position:relative;
    z-index: 3;
    font-weight: 500;
}
.mainText-sub{
    color: white;
    font-size: 7vw;
    font-family: 'Archivo', sans-serif;
    position: absolute;
    z-index: 2;
    margin: auto;
}


.mainText span:nth-child(1) {
    position: absolute;
    top: 40%;
    left: 16%;
}

.mainText span:nth-child(2) {
    position: absolute;
    top: 57%;
    left: 5%;
}
.mainText span:nth-child(3) {
    position: absolute;
    color: white;
    font-size: 1vw;
    width: 25%;
    top: 61%;
    left: 65%;
    letter-spacing: normal;
    font-weight: 300;
    tab-size: 4;
}
.mainText span:nth-child(4) {
    position: absolute;
    top: 74%;
    left: 26%;
}

.material-symbols-outlined {
    font-size: 3vw !important;
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'48
}

.mainPageArrow{
    position: absolute;
    top: 90%;
    left: 48.35%;
    z-index: 2;
}

.pursuitHero {
    color:white;
    width: 10vw;
    text-decoration: underline solid white 0.3vw;
}
.pursuitHero:hover{
    color: #005152;
    text-decoration: underline solid #005152 0.3vw;
}
.heroIMAC{
    width: 80%;
    /* top: 100%; */
    left: 10%;
    z-index: 1;
    position: relative;
}
.daIMAC{
    width: 100%;
}
.pin-spacer{
    padding: 0px 0px 0px !important;
    height: 0 !important;
}
.heroVideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 50px; */
}
#da_video{
    border-radius: 25px;
}
.content-One{
    width: 100%;
    height: 100vh;
    /* background-color: #005152; */
}
.content-one-spacer{
    width: 60%;
    float: left;
}
.content-one-text{
    width: 40%;
    height: 85%;
    float: right;
    transform: translateY(15vh);
    margin: 10vh 4vw 0 9vw;
    opacity: 0;
    /* overflow: hidden; */
    /* background-color: #333; */
}
.content-one-text h1{
    position: relative;
    font-size: 5vw;
    transform: translateY(-4.5vh);
    right: 25%;
    text-align: right;
    line-height: 80%;
    margin: 0;
}
.content-one-text h3{
    position: absolute;
    z-index: -1;
    font-size: 15vw;
    color: #f4f4f4;
    white-space: nowrap;
    top: -25%;
    left: 25%;
    margin: 0;
    
}
.content-one-text p{
    font-size: 1vw;
    transform: translateX(2vw);
}
.one{
    font-size: 5vw;
    /* position: relative; */
    overflow: hidden;
    color: #005152;
    width: 35%;
    float: right;
    /* background-color: #333; */
}
.one p{
    /* position: absolute; */
    /* z-index: -1; */
    color: #333;
    top: 10%;
    left: 20%;
    white-space: nowrap;
    font-size: 12vw;
}

.miniText{
    position:absolute;
    color: white;
    font-size: 0.75vw;
    top: 9%;
    right: 38%;
    z-index: 4;
    list-style-type: none;
    line-height: 1.6;
}

.miniText li:hover{
    color: #005152;
}

.miniText a:link{
    color: white;
    text-decoration: none;
}

.miniText a:visited{
    color: white;
    text-decoration: none;
}

.content-Two{
    width: 100vw;
    height: 50vh;
    /* background-color: #005152; */
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.dataRight, .dataLeft{
    position:relative;
    width: 50%;
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    z-index: 2;
    color: #333;
}
.dataLeft{
    float: left;
    /* background-color: #f2f2f2; */
}
.dataLeft :nth-child(1){
    font-size: 3vw;
}
.dataLeft :nth-child(2){
    margin: 1vw;
    font-size: 1vw;
}

.dataRight{
    float: right;
    /* background-color: #f2f2f2; */
}
.dataRight p{
    margin: 1vw;
    font-size: 1vw;
}
.dataRight :nth-child(1){
    font-size: 3vw;
}

.content-Two img{
    width: 25%;
    position: absolute;
    z-index: 1;
    right: -2%;
    /* transform: translateY(20.8vh); */
    bottom: 0;
}


.homeButton img{
    width: 25%;
    text-decoration-line: none;
    float: right;
}

.content-Three{
    margin-top: 5vh;
    width: 100vw;
    height: 245vh;
    padding-top: 10vh;
    position: relative;
    box-sizing: border-box;
    background-color: #005152;
    border-radius: 50px;
}
.someSpace{
    height: 5vh;
    width: 100vw;
}
.content-Three-HeadText{
    position: relative;
    width: 45vw;
    height: 25vh;
    /* background-color: blue; */
    margin: 0;
    float: left;
    color: #181818;
}
.content-Three-HeadText h1, .content-Three-HeadText h2{
    position:absolute;
    font-size: 5vw;
    margin: 0;
    
}
.content-Three-HeadText h1{
    left: 25%;
    top: -15%;
}
.content-Three-HeadText h2{
    left: 25%;
    top: 25%;
}
.funnyCircle{
    position: absolute;
    width: 60%;
    right: 25%;
    transform: translateY(-20%);
}

.cthreeCards{
    position: relative;
}
.serviceTwo h1,.serviceFour h1,.serviceOne h1, .serviceThree h1{
    margin: 0;
    font-size: 3vw;
    padding: 2vw 0% 0% 2vw;
}
.serviceTwo h2,.serviceFour h2,.serviceOne h2, .serviceThree h2{
    font-size: 1vw;
    padding: 0.5vw 0% 3vw 2vw;
    margin: 0;
}

.serviceOne, .serviceThree, .serviceOneFlipped, .serviceThreeFlipped{
    background-color: #e6e6e6;
    width: 49.7vw;
    height: 95vh;
    float: right;
    border-radius: 25px;
    margin-top: 0.2vw;
    margin-right: 0.2vw;
    /* border-style: dashed;
    box-sizing: border-box;
    border-width: 0.1vw; */
    overflow: hidden;

}

.serviceTwo,.serviceFour, .serviceTwoFlipped, .serviceFourFlipped{
    background-color: #e6e6e6;
    width: 49.7vw;
    height: 95vh;
    float: left;
    /* transform: translateY(15vw); */
    border-radius: 25px;
    margin-top: 0.2vw;
    margin-right: 0.2vw;
    margin-left: 0.2vw;
    /* border-style: dashed;
    box-sizing: border-box;
    border-width: 0.1vw; */
    /* transition: 0.5s; */
    overflow: hidden;

}

.serviceTwo:hover,.serviceFour:hover,
.serviceOne:hover, .serviceThree:hover{
    background-color: #333;
    color: white;
    border-style: solid;
    border-color: #333;
    box-sizing: border-box;

}

/* .serviceTwo:hover img,.serviceFour:hover img,
.serviceOne:hover img, .serviceThree:hover img{
    transform: scale(1.1);
} */
/* .serviceTwo:hover section,.serviceFour:hover section,
.serviceOne:hover section, .serviceThree:hover section{
    transform: scale(1.1);
    transition: 3s;
} */


.imgOne img, .imgTwo img, 
.imgThree img, .imgFour img{
    object-fit: cover;
    /* transition: 3s; */
    position: absolute;
    backface-visibility: hidden;
}

/* .imgOne, .imgTwo, 
.imgThree, .imgFour{
    margin: auto;
    width: 100%;
    height: 77%;
    border-radius: 25px;
    background-color: #005152;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: center center;
} */

.cardBackTwo{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #005152;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.daimg{
    transform: rotateY(0deg);
    transition: 0ms;
}
.daimg.is-flipped{
    transform: rotateY(90deg);
    transition: 0ms;
}

.contentOne, .contentTwo, .contentThree, .contentFour {
    height: 80%;
    width: 100%;
    background-color: #d9d9d9;
    overflow: hidden;
    box-sizing: border-box;
}

.contentOneFlipped, .contentTwoFlipped, .contentThreeFlipped, .contentFourFlipped {
    height: 77%;
    width: 99%;
    /* background-color: yellow; */
    margin-top: -2.5%;
    margin-left: 0.5%;
    border-radius: 25px;
    transform: translateY(-100%);
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
}

.contentOneFlipped p, .contentTwoFlipped p, .contentThreeFlipped p, .contentFourFlipped p{
    padding-left: 2vw;
}
.contentOneFlipped p:nth-child(1), .contentTwoFlipped p:nth-child(1), .contentThreeFlipped p:nth-child(1), .contentFourFlipped p:nth-child(1){
    padding-top: 2vw;
}

.contentOne img,.contentTwo img,.contentThree img,.contentFour img{
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit:cover;
    cursor: pointer;
}

.imgContainerOne, .imgContainerTwo, .imgContainerThree, .imgContainerFour{
    margin-left: 0.5%;
    margin-top: 2%;
    width: 99%;
    height: 77%;
    border-radius: 25px;
    /* background-color: #005152; */
    object-fit: contain;
    /* transition: 3s; */
    position: relative;
}

.learnMoreBox{
    position: absolute;
    width: 55%;
    height: 15%;
    background-color: #333;
    top: 90%;
    left: 22.5%;
    border-radius: 15px;
    opacity: 0;
}

.learnMoreBox svg{
    width: 15%;
    float: right;
    fill: white;
    scale: 0.7;
    position: absolute;
    bottom: 10%;
    right: 2%;
}

.learnMoreBox p{
    position: absolute;
    margin: auto;
    bottom: 35%;
    left: 5%;
    color: white;
}

#content-four{
    height: 100vh;
    width: 100vw;
    /* margin-top: -18vh; */
    /* border-radius: 25px 25px 0 0; */
    /* background-color: white; */
    background-color: #eaeaea;
    border-radius: 50px 50px 0px 0px;
    position: relative;
}


.contentFourMainText span:nth-child(1) {
    font-size: 2.8vw;
    position: absolute;
    top: 30%;
    right: 48%;
}
.contentFourMainText span:nth-child(2) {
    font-size: 7vw;
    font-weight: 500;
    position: absolute;
    top: 22.4%;
    right: 30%;
}
.contentFourMainText span:nth-child(3) {
    font-size: 2.8vw;
    position: absolute;
    top: 46.4%;
    right: 42.5%;
}
.contentFourMainText span:nth-child(4) {
    font-size: 7vw;
    font-weight: 500;
    position: absolute;
    top: 39%;
    left: 59%;
}
.contentFourMainText span:nth-child(5) {
    font-size: 7vw;
    font-weight: 500;
    position: absolute;
    top: 55.6%;
    left: 40%;
}

.moreSpace{
    width: 100vw;
    height: 1vh;
}